.movie-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  justify-content: center;
}

.movie-list .movie-container {
  width: 31%;
  flex-direction: column;
  margin: 10px;
}

.movie-list {
  min-height: 100vh;
}

.movie-image {
  width: 100%;
}

.genre {
  display: block;
}

@media screen and (max-width: 578px) {

  .movie-list .movie-container {
    width: 50%;
    flex-direction: column;
    margin: 10px;
  }

}
